/* 
Animates logo with keyframes. 
The animation:
- Starts at a width of 25px with opacity 0 and grows to 475px with an opacity of 1 
- Runs for 5 seconds and only happens when page is loaded 
*/
@keyframes pageload{
    from { width: 25px; opacity: 0;}
    to { width: 475px; opacity: 1;}   
}

#logo{
    animation-name: pageload;
    animation-duration: 5s;
    /* set width to fix issue of logo shrinking back to default image size */
    width: 475px;
}

/* 
Have skip to main only appear when in focus
*/
.skip{
    position: absolute;
    top: -40px; 
    height: 25px;
    background-color: white;
}

.skip:focus{
    top: 10px;
}

/* 
Stylize body element. 
- Use Poppins font (from Google fonts) with serif as a backup  It should also 
- Sets image “concrete_seamless.png” as a background-image with a backup color of #f1f1f1 
*/
body{
    font-family: "Poppins", serif;
    background: url(../images/concrete_seamless.png), #f1f1f1;
}

/* 
Stylize all header elements to use flex to display items from top to bottom with center alignment 
*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
Stylize nav_links class to use flex to display items from top to bottom 
*/
.nav_links{
    display: flex;
    flex-direction: column;
}

/* 
Stylize links to have same color before and after they have been visited 
*/
a:link, a:visited{
    color: #0000EE;
}

/* 
Style ONLY header elements that are direct child of card class to have: 
- background color of #288088
- solid 2px border using #45ADAD,
- 20px of padding on the top and the bottom 
- 50px border-radius on the top left and right corners 
*/ 
.card > header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

/* 
Style pricing class use flex to have items spaced horizontally with wrap allowed. 
Flex is used to center cards both horizontally and vertically.
*/
.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* 
Style card class to:
- match border radius with header of each card
- set flex-basis to specify an initial “size” of 450px (this should be width)
*/
.card{
    border-radius: 50px 50px 0 0;
    flex-basis: 450px;  
}

/* 
Style images in the gallery class to have:  
- solid 10px border with a color of #50C7C7
- 10px margin on all four sides 
- width of 300px
*/
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

/* 
Style gallery class to use flex to have items spaced horizoctally with wrap allowed and centered
*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

/* 
Responsive styling when screen size is greater than 900px 
*/
@media only screen and (min-width: 900px){
    /* 
    Modify all header elements and nav_link class to have: 
    - logo be as far left as possible
    - links be as far right as possible and displayed from left to right
    */
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links{
        flex-direction: row;
    }

    /*
    Modify card class flex-basis property to have “size” of 275px 
    (The elements will not have the same height, but do have the same width)
    */
    .card{
        flex-basis: 275px;
    }

    /* 
    Modify the first header in the body so that it remains visible at the top of the screen even as we scroll down 
    */
    body > header:first-child{
        position: sticky;
        top: 0;
    }
}

/* 
Set the logo to not be animated if prefers-reduced-motion is selected in the accessibility preferences. 
*/
@media (prefers-reduced-motion: reduce)  {
    #logo {
      animation: none;
    }
  }

/* 
Style page when in print view 
*/
@media print{
    /* 
    Modify the body to have:  
    - font as Arial with a backup value of Helvetica
    - no background image, only the backup color 
    */
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* 
    Modify the nav/nav_links elements so that they are displayed from left to right and take up the whole page width using "space-around" 
    */
    nav{
        width: 100%;
    }
    .nav_links{
        flex-direction: row;
        justify-content: space-around;
    }

    /*
    Modify the pricing class so that the elements align along the bottom and are all on the same row
    (The cards do not have to be the same height) 
    */
    .pricing{
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    /*
    Modify the card elements to have: 
    - solid border 2px with color #45ADDD 
    - flex-basis of 325px
    */
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /*
    Make no part of the gallery visible
    */
    #gallery, .gallery{
        display: none;
    }

    /* 
    Without using list-style-type:  
    - add the thumbs up entity at the end of the first paragraph under each package
    (the color of the thumbs up does not matter)
     */
    .card li:nth-child(2):after {
        content: "\1F44D";
    }
}
